<!-- Real ui Begins here -->

<div class="page">
  <div class="lefthalf">
    <div class="imgbackground">
      <img src="../../../assets/phonelogo.svg" alt="img" />
    </div>
  </div>
  <div class="righthalf">
    <div class="top">
      <h1>Login</h1>
    </div>
    <form>
      <input
        type="email"
        name="email"
        [(ngModel)]="registerUserData.email"
        required
        placeholder="Email"
      />
      <input
        type="text"
        name="password"
        [(ngModel)]="registerUserData.password"
        required
        placeholder="Password"
      />
      <button (click)="loginUser()">Login</button>
    </form>
  </div>
</div>
