<div class="header">
  <div class="titleLogo">
    <img src="../../assets/logo.png" alt="Responsive image" />
    <h1 routerLink="">StockTracker</h1>
  </div>

  <div class="items">
    <div class="item">
      <h1 routerLink="">Home</h1>
    </div>
    <div class="item">
      <h1 routerLink="watchlist">Watchlist</h1>
    </div>
    <div class="item">
      <h1 routerLink="portfolio">Portfolio</h1>
    </div>

    <div class="item">
      <h1 routerLink="contact">Contact</h1>
    </div>
  </div>

  <div class="login">
    <div class="item">
      <h1 routerLink="login" *ngIf="!this.userapi.loggedIn()">Login</h1>
    </div>
    <div class="item">
      <h1 routerLink="register" *ngIf="!this.userapi.loggedIn()">Register</h1>
    </div>
    <div class="item">
      <h1 (click)="logoutUser()" *ngIf="this.userapi.loggedIn()">Logout</h1>
    </div>
  </div>

  <!-- dropdown menu -->

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div class="item">
        <h1 class="dropdown-item">Home</h1>
      </div>
      <div class="item">
        <h1 class="dropdown-item">Watchlist</h1>
      </div>
      <div class="item">
        <h1 class="dropdown-item">Portfolio</h1>
      </div>

      <div class="item">
        <h1 class="dropdown-item">Contact</h1>
      </div>
    </ul>
  </div>
</div>
<!-- dropdown menu ends -->

<!-- real ui starts here -->

