* {
  color: white;
}
.navbar{
  padding-bottom: 20px;
}
.container-fluid h1{
  font-size: 2rem;
}

.container-fluid h3{
  font-size: 1.5rem;
}

.nav-item{
  margin:0px 3vw;
}

.nav-item:hover{
  background-color: rgb(23, 228, 217);
 color: black;
}


.login-register{
  display: flex;
  flex-direction: row;
}

.logo{
  max-width: 40px;
  max-height: 40px;
  border-radius: 20px;
  margin: 0px 5px;
}
