<div class="navbar">
  <div class="logo" routerLink="">
    <img src="../../assets/logo.png" alt="" />
    <h1>StockTracker</h1>
  </div>

  <div class="lists">
    <div class="listItem" routerLink="">
      <h1>HomePage</h1>
    </div>
    <div class="listItem" routerLink="watchlist">
      <h1>Watchlist</h1>
    </div>
    <div class="listItem" routerLink="portfolio">
      <h1>Portfolio</h1>
    </div>
  </div>

  <div class="userActive">
    <div class="item" routerLink="login" *ngIf="!this.userapi.loggedIn()">
      <h1>Login</h1>
    </div>
    <div class="item" routerLink="register" *ngIf="!this.userapi.loggedIn()">
      <h1>Register</h1>
    </div>
    <div
      class="item"
      routerLink="register"
      *ngIf="this.userapi.loggedIn()"
      (click)="logoutUser()"
    >
      <h1>Logout</h1>
    </div>
  </div>
</div>
