/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 2rem;
}
.header {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-between;
}

.titleLogo {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.titleLogo img {
  height: 5rem;
  width: 5rem;
  border-radius: 2rem;
  margin: 0 1rem;
}

.items {
  display: flex;
  width: 40%;
  align-items: center;
}

.item {
  margin: 0rem 1rem;
}

.item :hover {
  background-color: rgb(22, 187, 216);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  color: black;
  font-size: 1.5rem;
}

.login {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  .titleLogo {
    margin: 0 1.5rem;
  }
  .titleLogo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .items {
    display: none;
  }
  .login {
    width: 40%;
    justify-content: flex-end;
  }

  .dropdown {
    width: 30%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown button {
    width: 50%;
    height: 50%;
    background-color: rgb(184, 224, 224);
    color: black;
  }
} */

/* real ui begins here */
html {
  font-size: 10px;
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
}
.navbar {
  width: 100%;
  height: 5rem;
  background-color: #191932;
  display: flex;
  font-family: "Mochiy Pop P One", sans-serif;
}

.logo {
  width: 20%;
  height: 5rem;
  /* border: 2px red solid; */
  display: flex;
  padding-left: 2rem;
  justify-content: space-evenly;
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
}

.logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.logo h1 {
  text-align: center;
  padding-top: 0.8rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.logo h1:hover {
  color: #11ecec;
}
.lists {
  width: 50%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listItem h1 {
  color: #6a6a9f;
  font-family: "Poppins", sans-serif;
}

.listItem:hover {
  color: white;
  border-bottom: 2px white solid;
}
.listItem h1:hover {
  color: white;
}

.userActive {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  justify-items: flex-end;
  align-items: center;
  color: #6a6a9f;
  font-family: "Mochiy Pop P One", sans-serif;
}
.userActive h1 {
  font-family: "Poppins", sans-serif;
}

.item:hover {
  border-bottom: 2px white solid;
  color: white;
}
