<div class="components">
  <div class="indices-stock">
    <div class="left-index">
      <h1 class="tit">Nifty 50</h1>
      <div class="right">
        <h1
          [ngClass]="{
            green: stockIndices.data[0].percChange > 0,
            red: stockIndices.data[0].percChange <= 0
          }"
        >
          {{ stockIndices.data[0].previousClose }}
        </h1>
        <p
          [ngClass]="{
            green: stockIndices.data[0].percChange > 0,
            red: stockIndices.data[0].percChange <= 0
          }"
        >
          {{ stockIndices.data[0].percChange }} %
        </p>
      </div>
    </div>
    <div class="right-index">
      <h1 class="tit">Bank Nifty</h1>
      <div class="right">
        <h1
          [ngClass]="{
            green: stockIndices.data[3].percChange > 0,
            red: stockIndices.data[3].percChange <= 0
          }"
        >
          {{ stockIndices.data[3].previousClose }}
        </h1>
        <p
          [ngClass]="{
            green: stockIndices.data[3].percChange > 0,
            red: stockIndices.data[3].percChange <= 0
          }"
        >
          {{ stockIndices.data[3].percChange }} %
        </p>
      </div>
    </div>
  </div>
</div>

<div class="components">
  <h1 class="text-center g">Top Gainers</h1>
  <div class="indices">
    <div
      class="individual-indices"
      *ngFor="let item of topGainers.data.slice(0, 5)"
    >
      <h6 class="stockName">{{ item.symbol }}</h6>
      <div class="right-elem">
        <h6>{{ item.ltp }}</h6>
        <h5>{{ item.netPrice }} %</h5>
      </div>
    </div>
  </div>
</div>

<div class="components">
  <h1 class="text-center l">Top Losers</h1>
  <div class="indices">
    <div
      class="individual-indices"
      *ngFor="let item of toplosers.data.slice(0, 5)"
    >
      <h6 class="stockName">{{ item.symbol }}</h6>
      <div class="lost-elem">
        <h6>{{ item.ltp }}</h6>
        <h5>{{ item.netPrice }} %</h5>
      </div>
    </div>
  </div>
</div>

<!-- real ui begins here -->
<!--
<div class="indices">
  <div class="title"><h1>Indices</h1></div>

  <div class="items">
    <div
      class="item"
      [ngClass]="{
        green: stockIndices.data[0].percChange > 0,
        red: stockIndices.data[0].percChange <= 0
      }"
    >
      <div class="left-item">
        <h1>Nifty 50</h1>
      </div>
      <div class="right-item">
        <h4>{{ stockIndices.data[0].previousClose }}</h4>
        <p>{{ stockIndices.data[0].percChange }} %</p>
      </div>
    </div>
    <div
      class="item"
      [ngClass]="{
        green: stockIndices.data[3].percChange > 0,
        red: stockIndices.data[3].percChange <= 0
      }"
    >
      <div class="left-item">
        <h1>Nifty Bank</h1>
      </div>
      <div class="right-item">
        <h4>{{ stockIndices.data[3].previousClose }}</h4>
        <p>{{ stockIndices.data[3].percChange }} %</p>
      </div>
    </div>
  </div>
</div> -->
