* {
  color: white;
}

.individualStock {
  display: flex;
  justify-content: space-around;
  border: 2px red solid;
}
.individualStock h1 {
  color: aliceblue;
  font-size: 1.5rem;
}

.individualStock button {
  width: 20rem;
}

.search {
  display: flex;
  justify-content: space-around;
}

.search button {
  padding: 0.5rem;
  border-radius: 2rem;
}
.search input {
  padding: 0.5rem;
  border-radius: 2rem;
}

input,
button {
  color: black;
}
