* {
  background: #252b42;
  padding: 0;
  margin: 0;
  color: white;
}

.Header-13 {
  position: static;
  width: 100vw;
  height: 20vh;
  left: 0px;
  top: 0px;

  /* dark-background-color */

  background: #252b42;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;

}

.container{
  position: absolute;
width: 80%;
height: 100%;
left: 59px;
top: 0px;
border: 2px red solid;

}
