* {
  color: rgb(255, 255, 255);
  font-family: "Rubik", sans-serif;
}
h6 {
  font-size: 2rem;
}

.wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-stocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  height: 4rem;
  /* background-color: rgb(85, 108, 128); */
}

.card {
  display: flex;
  width: 80%;
  background-color: #364153;
}

.main-div {
  background-color: #364153;
  border-radius: 200rem;
  align-items: center;
}
