<div class="wraper">
  <div class="individual-stocks" *ngFor="let item of stockData">
    <mat-accordion class="card">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="main-div"
      >
        <mat-expansion-panel-header class="header">
          <mat-panel-title>
            <h6 class="stockName">
              <img
                src="../../../assets/close_black_24dp.svg"
                alt=""
                (click)="deleteStockWatchlist(item.data[0].symbol)"
              />
              {{ item.data[0].symbol }}
            </h6></mat-panel-title
          >
          <mat-panel-description class="flex">
            <h6>{{ item.data[0].lastPrice }}</h6>
            <h6>{{ item.data[0].change }}</h6>
            <h6>{{ item.data[0].pChange }}</h6>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex">
          <div class="flex">
            <p>Day High:-</p>
            <p>{{ item.data[0].dayHigh }}</p>
          </div>
          <div class="flex">
            <p>Day low:-</p>
            <p>{{ item.data[0].dayLow }}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
